deepdsl/.DS_Store
deepdsl/deepdsl-common/target
deepdsl/deepdsl-java/target
deepdsl/.classpath
deepdsl/.idea
deepdsl/*.iml
deepdsl/.settings
deepdsl/.project
deepdsl/.pydevproject
deepdsl/deepdsl-common/.cache-main
deepdsl/deepdsl-common/.cache-tests
deepdsl/deepdsl-java/.cache-main
deepdsl/deepdsl-java/.cache-tests
deepdsl/src/main/java/deepdsl/gen/*
deepdsl/dataset
/datasets
/test
/venv
/models
deepdsl/*.log
